button:disabled {
  color: red;
}

html,
body {
  height: 100%;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

body {
  background: #1E1E1E;
  color: #C4C4C4;
}

a {
  color:#bcbcbc;
}

#sidebar {
  padding: 0;
}

#sidebar .nav {
  width: 95%;
}

#sidebar li {
  border:0 #1e1e1e solid;
  border-bottom-width:1px;
  padding: 10px;
}

#sidebar li a {
  padding-left:1px;
}

.thumbnail {
  background-color: #505050;
  border: none;
  height: 170px;
  color: white;
}

.btn-toolbar {
  float: right;
}

h1 {
  padding: 20px 15px;
}

.Hadoop.thumbnail {
  background: #4776E6;
  background: -webkit-linear-gradient(right, #4776E6, #8E54E9);
  background: linear-gradient(to left, #4776E6, #8E54E9);
}

.Rails.thumbnail {
  background: #085078;
  background: -webkit-linear-gradient(right, #085078, #85D8CE);
  background: linear-gradient(to left, #085078, #85D8CE);
}

.Chronos.thumbnail {
  background: #3D7EAA;
  background: -webkit-linear-gradient(to left, #3D7EAA , #FFE47A);
  background: linear-gradient(to left, #3D7EAA , #FFE47A);
}

.Storm.thumbnail {
  background: #DC2424;
  background: -webkit-linear-gradient(to left, #DC2424 , #4A569D);
  background: linear-gradient(to left, #DC2424 , #4A569D);
}

.spark.thumbnail {
  background: #ED4264;
  background: -webkit-linear-gradient(to left, #ED4264 , #FFEDBC);
  background: linear-gradient(to left, #ED4264 , #FFEDBC);
}

.animated-server-enter {
  opacity: 0.1;
  transition: opacity .9s ease-in;
}

.animated-server-enter.animated-server-enter-active {
  opacity: 1;
}

.animated-server-leave {
  opacity: 1;
  transition: opacity .9s ease-in;
}

.animated-server-leave.animated-server-leave-active {
  opacity: 0.1;
}

.animated-server-appear {
  opacity: 0.1;
  transition: opacity .9s ease-in;
}

.animated-server-appear.animated-server-appear-active {
  opacity: 1;
}